@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

.better {
    font-family: 'Montserrat', sans-serif;
}

.buff {
    padding-top: 100px;
    padding-bottom: 100px;
}

.buffUp {
    padding-top: 30px;
}